.container { 
    width: 65%; 
    margin: 6rem auto; 
    border: 1px solid #999; 
    
    }

 .MuiSvgIcon-root.Mui-active {
    color: black; 
}
.MuiSvgIcon-root.Mui-completed {
    color: black; 
}

  h2 { 
    color : #999
  }

  .typography {
    color :#999
  }


  .bioContainer {
    display: grid; 
    justify-content: Center; 
    position: relative; 
    z-index: 5; 
  }

  .bioForm { 
    position: relative; 
    width: 28.125rem; 
    height: auto; 
    padding: 2rem; 
  }